.git
.gitignore
.DS_Store
**/.DS_Store
**/__pycache__/
**/.pycache/
**/*.pyc
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.venv/
**/.env
**/.env.local
**/.env.production
passport-core/data/
passport-core/.pytest_cache/
passport-core/.ruff_cache/
passport-telegram/.pytest_cache/
passport-telegram/.ruff_cache/
bot-avatar.svg
bot-avatar.png
